/* .products
{
    margin: 20px auto;
    width:80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:orange;
    border-radius: 5px;
}
.card
{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 12px;
    margin: 40px 20px;
    background-color: white;
    

} */

/* .product-image
{
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: block;
    object-fit: cover;
    
} */

.products-bg
{
    background-image: url('./../../assets//images//background.png');
}